
# Dependency directories
node_modules/

# Snowpack dependency directory (https://snowpack.dev/)
web_modules/

# dotenv environment variable files
 .env
.env.development.local
.env.test.local
.env.production.local
.env.local
